.link-btn{
    width: 221px;
    height: 45px;
    line-height: 44px;
    border-radius: 13px;
    background-color: #9e8b76;
    border: 2px solid white;
    padding: 0;
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
}
.link-btn:hover{
    background-color: #776858;
}