.projects {
  height: 90%;
  width: 90%;
  background-color: #3c4c44;
  border: 5px solid;
  border-color: #9e8b76;
  border-radius: 73px;
  left: 5%;
  position: fixed;
  top: 5%;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* For Firefox */
  scrollbar-width: none; /* For Firefox */

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects .line {
  position: relative;
  border-top: 5px dashed #9e8b76;
  height: 0px;
  width: 90%;
  margin-bottom: 5%;
}

.projects h2 {
  padding-top: 0%;
}

.projects .skills {
  display: flex;
  align-items: center;
}

.projects h4 {
  font-family: "Zilla Slab Highlight", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #9e8b76;
  align-self: flex-start;
  margin-right: 30px;
}

.projects .skills h4:last-child {
  margin-right: 0; /* Ensures no extra space after the last word */
}

.projects p {
  margin: 0.2% 30%;
  padding: 0 20px;
}

.projects .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  width: calc(2 * 221px + 20px);
}

.projects .buttons.two-buttons {
  justify-content: space-between; /* Space them evenly if there are two buttons */
  width: calc(2 * 221px + 20px); /* Set the width to fit both buttons */
}

.projects .buttons.one-button {
  justify-content: center; /* Center the button if there's only one */
  width: 221px; /* Set the width to fit a single button */
}

.projects .carousel {
  width: auto;
  height: 100%;
}
