.back-btn {
  position: absolute;
  top: clamp(15px, 3%, 30px);
  left: clamp(10px, 1%, 20px);
  z-index: 3;
  font-size: clamp(32px, 6vw, 64px);
  cursor: pointer;
  color: #d0b100;
  transition: color 0.3s ease;
}

.back-btn:hover {
  color: #8e7900;
}

@media screen and (max-width: 480px) {
  .back-btn {
    top: 10px;
    left: 5px;
  }
}
