
.contact-button {
    padding: 5px 30px;
    background-color: #9e8b76;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;

    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    text-align: center;
  }

.contact-button:hover{
    background-color: #776858;
}

.contact-container {
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: #3c4c44;
    border: 5px solid;
    border-color: #9e8b76;
    position: fixed;
    z-index: 2;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* For Firefox */
    scrollbar-width: none; /* For Firefox */


    opacity: 0;
    visibility: hidden;
    transition: width 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .contact-container.show {
    opacity: 1;
    visibility: visible;
    width: 30%;
  }


  .close-btn{
    position: absolute ;
    top: 0%;
    left: 80%;
    z-index: 3;
    font-size: 64px;
    cursor: pointer;
    color: #d0b100;
}

.close-btn:hover{
    color: #8e7900;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.info-wrapper .link-btn {
    margin-top: 10%;
}
