.title {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  z-index: 2;
  color: #d0b100;
  top: 10%;
  left: 30%;
  transform: translateX(-50%);
  font-size: clamp(48px, 8vw, 208px);
  text-align: center;
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.heading {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  z-index: 2;
  color: #d0b100;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(24px, 4vw, 36px);
  width: 100%;
  text-align: right;
  text-wrap: nowrap;
}
.navigation-boxes {
  position: absolute;
  top: calc(30% + 1.5em + clamp(24px, 4vw, 36px));
  left: 30%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  z-index: 2;
}

.contact-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  z-index: 3;
}

.mobile-scene {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/Blender-Camp-Scene.png");
  --focus-x: 87%;
  --focus-y: 25%;
  background-size: cover;
  background-position: var(--focus-x) var(--focus-y);
  overflow: hidden;
  z-index: 1;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  .title {
    top: 5%;
    font-size: clamp(48px, 8vw, 108px);
    left: 50%;
  }

  .heading {
    top: 70%;
    font-size: clamp(14px, 4vw, 18px);
  }

  .contact-btn {
    top: 2%;
    right: 2%;
  }

  .navigation-boxes {
    top: calc(13% + 1.5em + clamp(24px, 4vw, 36px));
    left: 61%;
  }
}

@media screen and (max-width: 320px) {
  .title {
    top: 5%;
    font-size: clamp(48px, 8vw, 108px);
    left: 50%;
  }
}
