.title{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 2;
    color: #d0b100;
    top: 10%;
    left: 15%;
    font-size: 108px;
  }
  
  .heading{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    z-index: 2;
    color: #d0b100;
    top: 72%;
    left: 25.6%;
    font-size: 36px;
  }
  
  .about-me-box {
    position: absolute;
    font-size: 24px;
    top: 75%;
    left: 62%;
  }
  
  .projects-box {
    position: absolute;
    font-size: 24px;
    top: 89%;
    left: 58%;
  }
  
  .courses-box {
    position: absolute;
    font-size: 24px;
    top: 89%;
    left: 92%;
  }
  
  .experience-box {
    position: absolute;
    font-size: 24px;
    top: 77%;
    left: 88%;
  }

  .contact-btn{
    position: absolute;
    top: 3%;
    left: 80%;
  }